<header class="site-header">
  <div class="wrapper site-header___wrapper">
        <a href="#" class="brand">
          <img src="../../../../assets/images/Logo.png" alt="Logo">
        </a>
        <ul >
          <li><a href="#">Sell on Shopka</a></li>
          <li><a href="#">Register</a></li>
        </ul>
        <div class="main-search">
          <input type="text" name="" id="" class="form-control" placeholder="Search for products ...">
        </div>
        <ul>
          <li><a href="#">Consumer Electronics</a></li>
        </ul>
        <div class="nav-links right-side">
          <button type="button" class="btn btn--plain">
            Sign in
          </button>
          <div class="my-cart">
            <button type="button" class="btn btn--plain myCart--btn">
              My Cart
            </button>
            <div class="myCart--btn__counter">
              <p>
                0
              </p>
            </div>
          </div>
        </div>
        <div class="user__img">
          <img src="../../../../assets/images/user.png" alt="user_name">
        </div>

  </div>
</header>
