header {
  .header-wrapper {
    background-color: var(--white);
    display: flex;
    padding: 1rem;
    align-items: center;
    font-family: 'Inter',sans-serif;

    .brand{}
    .navbar__link-toggle {
      display: none;
    }
    .navbar__items{
      display: flex;

      .navbar__link {
        padding-right: 8px;
        margin:0 1rem;
        a {
          color: var(--dark-gray);
          font-weight: var(--weight-500);
          text-decoration: none;
          font-family: 'Inter',sans-serif;
        }

            button {
              color: var(--blue);
              font-weight: var(--weight-700);
              transition: all 0.3s ease-in-out;
              &:hover{
                background: var(--blue);
                color: var(--white);
                border: 1px solid var(--white);
              }
            }
            .my-cart {
              position: relative;
            }
            .myCart--btn{
              position: relative;
              box-shadow:1px 2px 4px 1px hsla(218, 100%, 60%, 0.3);
              border:none
            }
            .myCart--btn__counter {
                position: absolute;
                top: -10px;
                right: -15px;
                background-color: var(--red);
                width: 28px;
                height: 28px;
                color: var(--white);
                text-align: center;
                border-radius: 50%;
                font-size: 14px;
                font-weight: var(--weight-700);
                padding: 5px;
              }
            }

      &--right{
        margin-left: auto;
      }
      &--search {
      margin: 0 auto;
      flex: 1;
      .main-search {
        padding: 0 2rem;
        margin: auto;
        width: 100%;
          input {
              background: hsla(240, 9%, 94%, 1);
              border-radius: 20px;
              font-size: 16px;
              color: var(--dark-gray);
          }
        }
      }

    }
  }
}


@media only screen and (max-width:1140px) {
header {
  .header-wrapper {
    flex-direction: column;
    .navbar__items,
    .navbar__items--right {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .navbar__link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
  }
  .navbar__items {
    display: none;
    .navbar__link {
      padding: 10px 15px;
      border: 1px solid var(--bright-gray);
      width: 100%;
      text-align: center;
      transition: all 0.3s ease-in-out;

      .user__img {
        img {
          text-align: center;
          margin: 0 auto;
        }
      }
    }
  }
  .navbar__items--right{
    margin: 0 auto;
  }

  }
}

}
