<section class="login">
    <div class="login__bg"></div>
    <div class="login-form">
    <div class="title">
      <h1>
        You<span>topia</span>
      </h1>
    </div>

    <form>
      <div class="form-group mb-3">
        <label for="email">Email*</label>
        <input type="text" name="email" id="email">
      </div>
      <div class="form-group">
        <label for="password">Password*</label>
        <input type="password" name="password" id="password">
      </div>
      <div class="form-group m-auto text-center">
          <button type="submit" class="btn btn--state-primary">Login</button>
      </div>
    </form>

    </div>
</section>
