.login {
  display: flex;
  // justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100%;
  background:url('../../../../assets/images/login.png') no-repeat;
  background-size: cover;
  .login__bg{
  background:url('../../../../assets/images/login.png') no-repeat;
    background-size: cover;
    height: 100vh;
    // flex: 1;
    width: 100%;
    background-position: center center;
    display: none;
    }
  .title {
    text-align: center;
    h1{
      color: var(--purple);
      font-weight: var(--weight-700);
      font-family: 'Inter', sans-serif;
      span {
        color: var(--dark);
      }
    }

  }
  .login-form {
    font-family: "Inter", sans-serif;
    padding: 2rem;
    width: 100%;
    background-color: var(--white);
    margin: 0 1rem;
    form{
    max-width: 100%;
    margin: 0 auto;
      input {
        border-radius: 20px;
        padding:10px;
        border: 1px solid var(--gray);
      }
      label {
        color: var(--purple);
        font-weight: var(--weight-700);
      }
      margin: 0 auto;
      button[type=submit]{
        background-color:var(--purple);
        color: var(--white);
        font-family: 'Inter',sans-serif;
        font-weight: var(--weight-700);
        margin: 0 auto;
        width:150px;
        margin-top: 20px;
        padding: 10px;
        border-radius: 20px;
        transition: all 0.3s ease-in-out;
        &:hover {
          background-color: var(--dark-purple);
        }
      }

      .eyeIcon {
        color: var(--purple);
        position: absolute;
        top: 0;
        right: 0;
        padding: 15px;
        cursor: pointer;
      }
    }
  }
}



@media screen and (min-width:768px) {
  .login__bg{}
  .login-form{
    form {
      width: 400px;
    }
  }
}

@media screen and (min-width:800px) {
  .login {
    background: none;
  }
  .login__bg{
    display: flex !important;
    width: 50%;
    flex: 1;
  }
  .login-form{
    width: 50%;
    flex: 1;
    form {
      max-width: 420px;
      button[type=submit]{
        width:320px  !important
      }
    }
  }

}
