<section class="shopka-products">
  <div class="container">
  <div class="row">
    <div class="col-4">
      <div class="product-filteration mb-4">
        <div class="product-filteration__heading d-flex justify-content-between">
          <p>Categories</p>
          <span><fa-icon [icon]="up"></fa-icon></span>
        </div>
        <div class="form-check" *ngFor="let category of categories;let index = index">
          <input
          class="form-check-input"
          type="checkbox" [id]="index"
          [name]="category" [value]="category">

          <label [for]="index" class="form-check-label">
            {{category}}
          </label>
        </div>
      </div>
      <div class="product-filteration">
        <div class="product-filteration__heading d-flex justify-content-between">
          <p>Expanded Filters</p>
          <span><fa-icon [icon]="up"></fa-icon></span>
        </div>
        <div class="form-check">
          <input
          class="form-check-input"
          type="checkbox" id="index"
          name="category" value="category">

          <label for="index" class="form-check-label">
            Price 100 -> 300
          </label>
        </div>
        <div class="form-check">
          <input
          class="form-check-input"
          type="checkbox" id="index"
          name="category" value="category">

          <label for="index" class="form-check-label">
            Price 200 -> 400
          </label>
        </div>
      </div>
    </div>
    <div class="col-8 product-wrapper">
      <div class="row"  *ngIf="!isLoading">
        <div class="col-md-4 col-sm-12 product"
         *ngFor="let item of products">
          <app-product
          [data]="item">
          </app-product>
        </div>
      </div>
      <div class="text-center" *ngIf="isLoading">
        <app-spinner ></app-spinner>
      </div>
    </div>
  </div>
</div>

</section>

