  .sort-product {
    width: 137px;
    position: relative;
    margin-bottom: 18px;
    span {
    position: absolute;
    background: #fff;
    z-index: 3;
    font-size: 10px;
    left: 20px;
    top: -8px;
    padding: 0px 5px;
    text-transform: uppercase;
    color: var(--gray);
    font-weight: var(--weight-500);
    }
    select {
      border: 1px solid var(--dark-gray);
      font-size: 14px;
    }
  }
