
/*-------------*\
  Helper Calsses
\*-------------*/



.button {
  color: var(--white);
  display: block;
  width: 100%;
  padding: 15px 10px;
  line-height: 1.5;
}

.btn--state-primary{
  background-color: var(--purple);
}
.btn--state-danger{
  background: red;
}
.btn--state-success{
  background: green;
}

.border {
  border: 1px solid hsla(0, 27%, 18%, 0.3);
}

.btn--plain {
  background: var(--white);
  margin: 10px;
  border: 1px solid var(--blue) !important;
}
