:root {
  /*
    Colors
  */
  --white : hsl(0,100%,100%);
  --black : hsl(0,0,100%,0);
  --blue  : hsla(217, 72%, 48%, 1);
  --bright-blue:hsla(217, 100%, 81%, 1);
  --gray  : hsl(0,0%,60%);
  --dark-gray  : hsla(240, 7%, 11%, 1);
  --bright-gray:hsla(240, 23%, 97%, 1);
  --silver: hsl(0,0,47%);
  --red : hsla(4, 90%, 58%, 1);
  --purple: hsla(243, 100%, 69%, 1);
  --dark-purple: hsl(243, 62%, 58%);
  --dark: hsla(0,0%,25%,1);
  --bright-pink:hsla(341, 80%, 96%, 1);
  --pink:hsla(340, 57%, 48%, 1);
  --special:hsla(155, 55%, 56%, 1);
  --rating : hsla(31, 100%, 49%, 1);



 /*
  Typography
 */

--fs-1:1.563rem;
--fs-2:1.375rem;
--fs-3:1.25rem;
--fs-4:1.125rem;
--fs-5:1rem;
--fs-6:0.938rem;
--fs-7:0.875rem;
--fs-8:0.813rem;
--fs-9:0.75rem;
--fs-10:0.688rem;
--fs-11:0.625rem;


--weight-300:300;
--weight-400:400;
--weight-500:500;
--weight-600:600;
--weight-700:700;

}










