<ng-container *ngIf="isLoaded">
  <app-spinner></app-spinner>
</ng-container>

<section class="product-details" *ngIf="!isLoaded">
  <div class="product-details__image">
    <div class="image">
      <img [src]="productDetails.image" [alt]="productDetails.title" lazy-load="true">
      <div class="backToHome">
        <a routerLink="/">
           <fa-icon icon="arrow-left"></fa-icon>
           back to list</a>
      </div>
    </div>
    </div>
  <div class="product-details_informations">
    <ng-container *ngIf="productDetails.id % 3 == 1">
    <div class="details_heading">
      <div class="deal alert--hot">HOT SALE</div>
    </div>
    </ng-container>

    <div class="details_heading title">
      <h1>
        {{productDetails.title}}
      </h1>
    </div>
    <div class="details_heading second-heading d-flex justify-content-start">
      <div class="category mr-3">
        <p class="mb-0"> {{productDetails.category | uppercase }} </p>
      </div>
      <div class="rating mb-1 mr-3" style="margin-left: 0.5rem;">
          |  <star-rating [starType]="'svg'" [rating]="productDetails?.rating?.rate"></star-rating><span> ({{productDetails?.rating.count}} reviews) </span>
      </div>
    </div>

    <div class="product-detail_desc">
      <p><strong>Decription:</strong></p>
      <p> {{productDetails.description}} </p>
    </div>

    <div class="product-catalog-images"></div>
    <div class="product-sizing">
    </div>


  </div>
</section>
