        <div class="form-check">
          <input
          class="form-check-input"
          type="checkbox" id="100"
          name="category" value="100-300" (change)="detectChanges($event)">

          <label for="100" class="form-check-label">
            Price 100 <fa-icon icon="arrow-right"></fa-icon> 300
          </label>
        </div>
        <div class="form-check">
          <input
          class="form-check-input"
          type="checkbox" id="200"
          name="category" value="200-400"(change)="detectChanges($event)">

          <label for="200" class="form-check-label">
            Price 200 <fa-icon icon="arrow-right"></fa-icon> 400
          </label>
        </div>
        <div class="form-check">
          <input
          class="form-check-input"
          type="checkbox" id="300"
          name="category" value="300-500" (change)="detectChanges($event)">

          <label for="300" class="form-check-label">
            Price 300 <fa-icon icon="arrow-right"></fa-icon> 500
          </label>
        </div>
        <div class="form-check">
          <input
          class="form-check-input"
          type="checkbox" id="400"
          name="category" value="400-600" (change)="detectChanges($event)">

          <label for="400" class="form-check-label">
            Price 400 <fa-icon icon="arrow-right"></fa-icon> 600
          </label>
        </div>
        <div class="form-check">
          <input
          class="form-check-input"
          type="checkbox" id="600"
          name="category" value="600-800"(change)="detectChanges($event)">

          <label for="600" class="form-check-label">
            Price 600 <fa-icon icon="arrow-right"></fa-icon> 800
          </label>
        </div>
