<a [routerLink]="['/products/details/',data.id]">
    <div class="product-img">
        <img [src]="data.image" alt="" srcset="">
    </div>
            <div class="product-title">
                <h2>
                  {{ (data.title.length > 60) ? (data.title | slice : 0:60) + "..":data.title }}

                </h2>
            </div>
            <div class="product-price d-flex justify-content-between align-items-center">
                <h3>{{data.price | currency}}</h3>
                <ng-container *ngIf="data.id % 3 == 1">
                    <span class="deal alert--danger">
                        cool deal!
                    </span>
                </ng-container>

            </div>
            <div class="product-desc">
                <p>
                    {{ (data.description.length > 60) ? (data.description | slice : 0:60) +  "'..'":data.description }}
                </p>

            </div>
        </a>

        <div class="product-actions">
            <div class="product-actions__rating">
              <star-rating [starType]="'svg'" [rating]="data.rating?.rate"></star-rating>
            </div>
            <div class="product-actions__watch">
                <fa-icon [icon]="favorite"></fa-icon>
                Watch
            </div>
        </div>
